/*------------------------------------------------------------------ BODY E HEADER -----------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    outline: none;
}
body, .container{
    min-height: 100vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    z-index: 0;
}
header{
    width: 100%;
    height: 180px;
    justify-content: center;
    display: flex;
    place-items: center;
    z-index: 1;
    background: #27282c;
    position: absolute;
    flex-direction: column;
}
.header-not-absolute{
    width: 100%;
    height: 180px;
}
/*-----------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------ NAV BAR -----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

.fazerLogin{
    position: absolute;
    width: 100px;
    font-size: 16px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    color: rgb(230, 42, 42);
    text-shadow: 0px 0px 24px rgba(230, 42, 42,0.9);
    transition: 0.7s;
    transition-delay: 0.1s;
    right: 0;
    border: none;
    margin-right: 20px;
    margin-bottom: 80px;
}
.fazerLogin:hover{
    background-color: rgb(230, 42, 42);
    color: white;
    box-shadow: 0 0 10px rgba(230, 42, 42,0.87),
    0 0 30px rgba(230, 42, 42,0.87),
    0 0 60px rgba(230, 42, 42,0.87);
}
.nav-bar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.nav-item{
    text-decoration: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:40px ;
    margin-right:40px ;
    transition: 0.3s;
    font-size: 16px;
    transition-delay: 0.1s;
    letter-spacing: 2px;
}
.nav-item:hover{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFF;
}
/*-----------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------ MODAL LOGIN -----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

.login-container{
    height: 100%;
    position: absolute;
    width: 100%;
    align-items: end;
    justify-content: center;
    display: flex;
    z-index: -1;
}
#login {
    height: 0px;
    z-index: 2;
    width: 500px;
    background-color: white;
    transition: height 1s;
    padding: 50px 50px 0px;
    flex-direction: column;
    display: none;
}
.logoLogin{
    position: relative;
    margin-top: 30px;
}
.logoLogin img{
    width: 100%;
}
.closeModal-container{
    width: 100%;
    text-align: right;
}
#closeModalBtn{
    font-size: 30px;
    color: darkgray;
}
#closeModalBtn:hover{
    cursor: pointer;
    color: rgb(107, 107, 107);
}
.iconeInput{
    margin-top: 65px;
    position: absolute;
}
label{
    margin-top: 35px;
    position: absolute;
}
#loginBtn{
    padding: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}
#loginBtn:hover{
    background-color: rgb(172, 0, 0);
}
#loginBtn:active{
    background-color: black;
}
#verSenha{
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 7px;
    margin-left: 370px;
    cursor: pointer;
    display: flex;
    z-index: 2;
}
.material-symbols-outlined::selection,
#loginBtn::selection{
    background-color: transparent;
}
#login input[type="text"], 
#login input[type="password"]{
    width: 100%;
    height: 40px;
    padding-left: 32px;
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 2px solid gray;
    margin-top: 60px;
    background-color: transparent;
}
#login input[type="text"]:focus, 
#login input[type="password"]:focus{
    border-bottom: 3px solid red;
}
.criarConta{
    margin-bottom: 20px;
    margin-top: 20px;
}
.criarConta a{
    text-decoration: none;
    color: black;
    font-weight: bold;;
}
.criarConta a:hover{
    color: red;
}
/*-----------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------ MAIN-CATÁLOGO -----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

.pecas-container{
    height: 420px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 250px;
    margin: 15px;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    box-shadow: 0px 0px 0px 1px rgba(85, 85, 85, 0.92);
    transition: 0.3s ease-in-out;
}
.pecas-container:hover{
    box-shadow: 1px 13px 43px 1px rgba(85, 85, 85, 0.92);
    -webkit-box-shadow: 1px 13px 43px 1px rgba(85, 85, 85, 0.92);
    -moz-box-shadow: 1px 13px 43px 1px rgba(85, 85, 85, 0.92);
}
.shadow-box{
    width: 250px;
    height: 420px;
    position: absolute;
    z-index: 2;
    transition: box-shadow 0.3s ease-in-out;
}
.shadow-box:hover{
    box-shadow: 0px 0px 104px -1px rgba(0,0,0,0.53) inset;
}
.name-peca{
    margin: 10px;
    font-size:18px;
    text-align: center;
    text-align-last: center;
    border-top: 1px dashed rgb(0, 0, 0);
    border-bottom: 1px dashed rgb(0, 0, 0);
    padding: 4px 0px 4px;
}
.preco-peca{
    margin: auto;
    margin-top: 0;
    
    margin-bottom: 10px;
}
.img-container{
    width: 250px;
    height: 190px;
    display: flex;
    justify-content: center;
    z-index: 0;
}
.image-peca{
    width: 200px;
    position: relative;
}
.desc-peca{
    text-align-last: left;
    margin-left: 10px;
    margin-right: 10px;
    
}
.logo{
    justify-content: center;
    height: 120px;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- Portifólios --------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

.container-port{
    width: 700px;
    height: 960px;
    text-align: center;
    margin-top: 100px;
    border-radius: 5px;
    transition: .2s;
    flex-direction: column;
    margin: 25px 50px 50px;
}
.container-port h1{
    margin-top: 20px;
    font-size: 2rem;
}
.container-port:hover{
    box-shadow: 1px 13px 43px 1px rgba(85, 85, 85, 0.92);
}
.container-port p{
    margin: 20px 50px 50px;
    font-size: 1.5rem;
    text-align: justify;
    text-align-last: center;
}

.container-port img{
    width: 700px;
    height: 500px;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------ REGISTRAR CARRO -----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

.container-regcarro{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container-regcarro form{
    display: flex;
}
.container-regcarro .insertCar{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0px 20px 0px;
    padding: 30px; 
}
.container-regcarro .insertCar input{
    width: 100%;
    position: relative;
    padding: 5px;
    padding-left: 30px;
    font-size: 15px;
    border: none;
    border-bottom: gray 2px solid;
    background-color: transparent;
}
.container-regcarro .insertCar input:focus{
    border-bottom: red 2px solid;
    background-color: transparent;
}
.container-regcarro .insertCar label{
    margin-top: 15px;
    position: relative;
}

.container-regcarro .material-symbols-outlined{
    margin-left: 3px;
    position: absolute;
}
#Iplaca{margin-top: 37px;}
#Iano{margin-top: 120px;}
#Imarca{margin-top: 210px;}
#Imodelo{margin-top: 295px;}   
#Icor{margin-top: 380px;}

.submitCar{
    display: flex;
    flex-direction: column;
}
.submitCar input{
    padding: 5px;
    border: none;
    color:rgb(0, 170, 0);
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}
.submitCar input:hover{background-color: rgb(0, 170, 0); color:white;}

.submitCar a{
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    transition: 0.3s;
}
#editar{color: goldenrod;}
#editar:hover{background-color: goldenrod; color:white;}

#remover{color: rgb(194, 2, 2);}
#remover:hover{background-color: rgb(194, 2, 2); color:white;}
/*-----------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------ CELULAR -----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 980px) {
    .pecas-container {
        width: 400px; 
        height: 470px; 
    }
    .pecas-container img{
        width: 380px; 
        height: 320px; 
    }
    #login{ width: 100%; }
    .login-container{ margin-top: 280px;}
    #verSenha{ margin-left: 780px;}

    .login-container{
        margin: 0;
    }
    header{
        position: absolute;
    }
    .container-port{
        box-shadow: 1px 13px 43px 1px rgba(85, 85, 85, 0.92);
        margin-top: 100px;
        margin-bottom: 100px;
        
    }
    
}

